*.exe
build_gcc/log.txt
build_gcc/log_error.txt
build_llvm/log.txt
build_llvm/log_error.txt
*.d
*.s
*.asm
*.cso
*.h.gch
*.h.pch
*.h.mspch
*.sublime-project
*.sublime-workspace
*log*
*.pdb
*.pch
*.dump
*.vs
*.filters
*.user
*.ClangTidy